* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section-padding {
    padding-top: 70px;
}

h2 {
    text-transform: uppercase;
    font-weight: 600;
}

/* ----------------------------------------- header section styling --------------------------------------------------*/


.header .navbar {
    width: 100%;
    background-color: rgba(20, 20, 20);
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    background-color: red;
    color: white;
}

.nav-link {
    padding: 0.7rem 1.2rem;
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}


.nav-link a {
    font-size: 15px;
    font-weight: 500;
}

.navbar-light a.navbar-brand {
    color: white;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light a.navbar-brand:hover,
.navbar-light a.navbar-brand:focus {
    user-select: none;
    color: white;
    cursor: none;

}

.navbar-toggler {
    padding: 0.5rem 0.75rem;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
}


.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.6);
}




/* --------------------------------------------------- home section ------------------------------------------------*/

.btn {
    color: white;
    border: 2px solid white;
    border-radius: 0;
}

.btn:hover {
    background-color: red;
    color: white;
    border: 2px solid red;
    cursor: pointer;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 150px;
    z-index: 2;
}

.carousel-caption h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}


.carousel-inner::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
}

.w-100 {
    height: 100vh;
}

/* ---------------------------------------------- about section styling ----------------------------------------- */

.about-text p {
    font-size: 15px;
}



/* ---------------------------------------------- services section styling ----------------------------------------- */

.services .card-body i {
    font-size: 50px;
}


/* ---------------------------------------------- pricing section styling ----------------------------------------- */

.single-pricing {
    text-align: center;
    color: black;
    background-color: white;
    margin-top: 20px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-bottom: 20px;
}


.single-pricing:hover {
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.959);
    scale: 1.05;
}


.single-pricing .price {
    font-size: 24px;
    font-weight: 500;
    color: rgb(36, 32, 32);
}

.single-pricing .price .money {
    color: red;
    font-size: 40px;
}

.deal-type {
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px 10px;
    font-weight: 600;
}

.single-deal li {
    list-style: none;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 300;
    margin-top: 10px;
}

.btn-area a {
    background-color: red;
    color: white;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 8px 23px;
    font-weight: 500;
    transition: .3s all ease-out;
}

.btn-area a:hover {
    background-color: rgba(110, 7, 7, 0.637);
}

/* ---------------------------------------------- team section styling ----------------------------------------- */
.team .card-body {
    font-size: 18px;
    padding: 10px 20px;
}


.team .card {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: hidden;
}

.img-area img {
    width: 100%;
}

/* ---------------------------------------------- contact section styling ----------------------------------------- */

.contact-form {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 40px 30px;
}

.contact-form .btn {
    letter-spacing: 1px;
    font-weight: 600;
    padding: 8px 30px;
}

.contact-form .form-group .form-control {
    margin-bottom: 20px;
    padding-left: 5px;
    padding-left: 20px;

}

.contact-form textarea {
    width: 100%;
    resize: none;

}

.map-area {
    height: 515px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.map-area iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* ---------------------------------------------- footer section styling ----------------------------------------- */
.footer {
    background-color: rgba(20, 20, 20);
}

.footer .container {
    padding: 20px 0px;
}

.footer p {
    margin-bottom: 0;
}

/* -------------------------------------------------- media query ------------------------------------ */


@media only screen and (max-width: 767px) and (max-width :991px) {
    .carousel-caption {
        bottom: 100px;
    }

    .carousel-caption p {
        width: 100%;
    }

    .card {
        margin-bottom: 20px;
    }

    .img-area img {
        width: 100%;
    }

    .map-area {
        width: 100%;
        height: 400px;
    }
}


@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-caption {
        bottom: 120px;
    }

    .carousel-caption h1 {
        font-size: 25px;

    }

    .carousel-caption a {
        padding: 10px 12px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 16px;
    }

    .map-area {
        width: 100%;
        height: 400px;
    }

}